{% extends 'base.html' %}
{% block title %}Giới Thiệu{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning text-center font-weight-bold">Giới thiệu</h1>
  <hr>
  <section class="text-justify">
    <h2>Tính cấp thiết</h2>
    <p>Với sự lớn mạnh không ngừng của Internet và độ phổ biến của nó trên toàn Thế Giới, việc các doanh nghiệp và cửa hàng kinh doanh sử dụng nó để mang lại doanh thu cho mình, là hết sức quan trọng. Tuy nhiên, có rất nhiều đơn vị muốn chiếm lĩnh vị trí cao trên nó dẫn đến việc cạnh tranh rất gay gắt trong công cuộc đưa website của mình đến với đại đa số khách hàng ở khắp mọi nơi, được gọi tắt là SEO (Search Engine Optimization).</p>
    <p>Từ đó việc tối ưu trang web để mang lại thứ hạng cao trên các công cụ tìm kiếm ra đời. Người lập trình viên phải đáp ứng các kịch bản của ứng dụng mà còn phải đảm bảo tối ưu website của họ đối với các công cụ tìm kiếm. Để giúp cho công việc của họ được thuận tiện hơn và tuân thủ được các tiêu chí tối ưu mới nhất, chúng tôi cung cấp một giải pháp tự động, phân tích cú pháp trang web và đưa ra những đề nghị sửa chữa, nhằm tối ưu SEO cho trang web của họ.</p>
  </section>
  <hr>
  <section class="text-justify">
    <h2>Mục tiêu</h2>
    <p>Để mang đến sự thuận tiện và hài lòng cho người sử dụng, ứng dụng của chúng tôi sẽ đặt ra những mục tiêu sau đây:</p>
    <ul>
      <li>Cung cấp dịch vụ đánh giá <strong>miễn phí</strong> và sẽ luôn <strong>miễn phí</strong>! Vì thế chúng tôi sẽ đặt quảng cáo lên trang web để mang lại nguồn thu duy trì cho chúng tôi.</li>
      <li>Cập nhật những tiêu chuẩn về SEO đến người dùng thông qua các bài viết trên web và đảm bảo rằng công cụ của chúng tôi sẽ sử dụng những tiêu chuẩn mới nhất.</li>
      <li>Tự động phân tích cú pháp trang web người dùng, so sánh với các tiêu chuẩn về SEO, đưa ra kết quả và gợi ý cho người dùng cách để họ có thể khắc phục nếu web chưa đạt chuẩn hoặc thiếu các thành phần quan trọng.</li>
      <li>Để tránh việc lặp lại kiểm tra cho cùng một trang web, chúng tôi sẽ lưu lại kết quả đánh giá và hiển thị ra nếu người dùng kiểm tra cùng một địa chỉ. Sau 24 giờ, chúng tôi sẽ cập nhật kết quả mới khi người dùng cần kiểm tra lại.</li>
    </ul>
  </section>
</div>
{% endblock %}