{% extends 'base.html' %}

{% block title %}Liên Hệ{% endblock %}
{% block content %}
<h1>Liên hệ</h1>
<hr>
<div class="container-fluid p-0">
    Mọi thông tin chi tiết xin vui lòng liên hệ email hoặc facebook bên dưới.
    <br>
    Cảm ơn đóng góp của các bạn để mình có thể hoàn thiện website được tốt hơn!
    <ul>
        <li>Email: <a href="mailto:npthinh1996@gmail.com">npthinh1996@gmail.com</a></li>
        <li>Facebook: <a href="https://www.fb.com/npthinhdev" target="_blank" rel="noopener noreferrer">https://www.fb.com/npthinhdev</a></li>
    </ul>
</div>
{% endblock %}
