{% extends 'base.html' %}
{% block title %}Liên Hệ{% endblock %}
{% block content %}
<div class="container mt-5 text-light">
  <h1 class="text-warning text-center font-weight-bold">Liên hệ</h1>
  <hr>
  <section class="mt-4">
    <p>Mọi thông tin chi tiết xin vui lòng liên hệ email hoặc facebook bên dưới:</p>
    <ul>
      <li>Email: <a href="mailto:npthinh1996@gmail.com" class="text-dark">npthinh1996@gmail.com</a></li>
      <li>Facebook: <a href="https://www.fb.com/npthinhdev" class="text-dark" target="_blank" rel="noopener noreferrer">https://www.fb.com/npthinhdev</a></li>
    </ul>
    <p>Cảm ơn đóng góp của các bạn để mình có thể hoàn thiện website được tốt hơn!</p>
  </section>
</div>
{% endblock %}