::-webkit-scrollbar {
    background-color: #6c757d;
    width: .5rem;
}
::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: .25rem;
}
body {
    background: linear-gradient(to bottom right, #185a9d, #43cea2) no-repeat center fixed;
    background-size: cover;
    font-family: "Comfortaa", sans-serif;
}
main {
    min-height: 80%;
}
table {
    min-width: 50rem;
}
.nav-item {
    margin: 0 .5rem;
}
.navbar-brand {
    font-size: 2rem;
}
#backTop {
    bottom: 3rem;
    color: #343a40;
    cursor: pointer;
    display: none;
    font-size: 3rem;
    position: fixed;
    right: 1rem;
    z-index: 1;
}
#backTop:hover {
    color: #111;
}
#copyright {
    font-size: .85rem;
}
#submit {
    border-radius: 0 50rem 50rem 0;
    font-size: 1rem;
    margin-left: -.3rem;
    margin-top: -.1rem;
    padding: .75rem 1rem;
}
#url {
    border-radius: 50rem 0 0 50rem;
    font-size: 1rem;
    padding: 1.5rem;
}