{% extends 'base.html' %}
{% block title %}Liên Hệ{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning text-center font-weight-bold">Liên hệ</h1>
  <hr>
  <section class="bg-light rounded p-3">
    <p>Mọi thông tin chi tiết xin vui lòng liên hệ email hoặc facebook bên dưới:</p>
    <ul>
      <li><b>Email</b>: <a href="mailto:npthinh1996@gmail.com">npthinh1996@gmail.com</a></li>
      <li><b>Facebook</b>: <a href="https://www.fb.com/thinh9e" target="_blank" rel="noopener noreferrer">https://www.fb.com/thinh9e</a></li>
    </ul>
    <p>Cảm ơn đóng góp của các bạn để mình có thể hoàn thiện website được tốt hơn!</p>
  </section>
</div>
{% endblock %}