<div class="card mt-sm-3">
    <div class="card-header">Hàng đầu</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/">Google</a></li>
        <li class="list-group-item"><a href="/">YouTube</a></li>
    </ul>
</div>
<div class="card mt-2">
    <div class="card-header">Kiểm tra gần đây</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/">Google</a></li>
        <li class="list-group-item"><a href="/">YouTube</a></li>
    </ul>
</div>
