@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');
body {
    background: #185a9d linear-gradient(to bottom right, #185a9d, #43cea2) fixed;
    font-family: 'Comfortaa', sans-serif;
}
main {
    min-height: 80%;
}
table {
    min-width: 50rem;
}
#backTop {
    bottom: 3rem;
    color: #343a40;
    cursor: pointer;
    display: none;
    font-size: 3rem;
    position: fixed;
    right: 1rem;
    z-index: 1;
}
#backTop:hover {
    color: #111;
}
.nav-item {
    margin: 0 .5rem;
}
.navbar-brand {
    font-size: 2rem;
}
#submit {
    border-radius: 0 50rem 50rem 0;
    margin-left: -.3rem;
    margin-top: -.25rem;
    padding: .75rem 1rem;
}
#url {
    border-radius: 50rem 0 0 50rem;
    padding: 1.75rem;
}