<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="{% url 'index' %}" class="navbar-brand font-weight-bold"><i class="fas fa-check-circle text-info"></i> Đánh Giá Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ml-0{% if '/' == request.path %} active{% endif %}"><a href="{% url 'index' %}" class="nav-link">Trang chủ</a></li>
        <li class="nav-item{% if 'gioi-thieu' in request.path %} active{% endif %}"><a href="{% url 'about' %}" class="nav-link">Giới thiệu</a></li>
        <li class="nav-item{% if 'lien-he' in request.path %} active{% endif %}"><a href="{% url 'contact' %}" class="nav-link">Liên hệ</a></li>
        <li class="nav-item{% if 'kiem-tra' in request.path %} active{% endif %}"><a href="{% url 'check' %}" class="nav-link">Kiểm tra</a></li>
        <li class="nav-item dropdown">
          <a href="/" class="nav-link dropdown-toggle" id="navbarTips" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thủ thuật</a>
          <div class="dropdown-menu" aria-labelledby="navbarTips">
            <a class="dropdown-item" href="{% url 'tips1' %}">Các tiêu chuẩn SEO</a>
          </div>
        </li>
        <li class="nav-item"><a href="/" class="nav-link disabled"><i class="fas fa-heart"></i> Donate</a></li>
        <li class="nav-item mr-0"><a href="https://github.com/pythinh/web-checker" class="btn btn-dark" target="_blank"><i class="fab fa-github"></i> Github</a></li>
      </ul>
    </div>
  </nav>
</header>